<div class="sidebar">
    <div class="sidebar-navicontainer">
        <div class="sidebar-headbox">
            <span class="sidebar-header">Library</span>
            <a class="sidebar-toggle">Hide</a>
        </div>
        <ul class="nav">
            <li class="selected"><a href="#/maverix">
                <span class="entypo-note-beamed"></span> Albums
            </a></li>
            <li><a href="#/controls">
                <span class="entypo-user"></span> Artists
            </a></li>
        </ul>
    </div>

    <!--div class="sidebar-navicontainer">
        <div class="sidebar-headbox">
            <span class="sidebar-header">Example Pages</span>
            <a class="sidebar-toggle">Hide</a>
        </div>
        <ul class="nav">
            <li ng-class="{ selected: isActive('/view1')}"><a href="#/view1"><span class="entypo-monitor"></span>
                Maverix</a></li>
            <li ng-class="{ selected: isActive('/view2')}"><a href="#/view2"><span class="entypo-attention"></span>
                Warnings <span class="sidebar-badge">4</span>
            </a></li>
        </ul>
    </div>

    <div class="sidebar-navicontainer">
        <div class="sidebar-headbox">
            <span class="sidebar-header">Placeholder Accounts</span>
            <a class="sidebar-toggle">Hide</a>
        </div>
        <ul class="nav">
            <li><span class="entypo-user"></span> Users</li>
            <li><span class="entypo-users"></span> Groups</li>
            <li><span class="entypo-vcard"></span> Certificates</li>
            <li><span class="entypo-doc-text"></span> Protocols</li>
            <li><span class="entypo-chart-bar"></span> Stats</li>
        </ul>
    </div>

    <div class="sidebar-navicontainer">
        <div class="sidebar-headbox">
            <span class="sidebar-header">Placeholder Services</span>
            <a class="sidebar-toggle">Hide</a>
        </div>
        <ul class="nav">
            <li><a href=""><span class="entypo-archive"></span> Caching</a></li>
            <li><a href=""><span class="entypo-drive"></span> File Sharing</a></li>
            <li><a href=""><span class="entypo-calendar"></span> Calendar</a></li>
            <li><a href=""><span class="entypo-book"></span> Contacts</a></li>
            <li><a href=""><span class="entypo-mail"></span> Mail</a></li>
            <li><a href=""><span class="entypo-chat"></span> Messages <span class="sidebar-badge">1</span></a></li>
            <li><a href=""><span class="entypo-newspaper"></span> Profile Manager</a></li>
            <li><a href=""><span class="entypo-ccw"></span> Backups</a></li>
            <li><a href=""><span class="entypo-lock"></span> VPN</a></li>
            <li><a href=""><span class="entypo-globe"></span> Websites</a></li>
            <li><a href=""><span class="entypo-docs"></span> Wiki</a></li>
            <li><a href=""><span class="entypo-tools"></span> Build</a></li>
        </ul>
    </div-->
</div>